{% extends 'lab_base.html' %}

{% block body %}

<!-- Style Guide Modal -->
<div class="modal fade" id="styleGuide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Style Guide</h4>
      </div>
      	<div class="modal-body">
      		<p>No content yet. But drunk yoga seems like fun...</p>
      		<img src="http://media.giphy.com/media/W7o9UzkwWpA0o/giphy.gif"/></div>
  	</div>
</div>
</div>

<!-- Size Guide Modal -->
<div class="modal fade" id="sizeGuide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Custom Sizing</h4>
      </div>
      	<div class="modal-body">
      		<div id="suggestions-form">
	      		<form class="form-group" name="suggestions" action=''>
		      		<p> Tell us about your body shape and measurements and we'll make sure your pants fit just right. </p>
		      		<textarea rows="5" cols="90" name="size-suggestions" id="size-suggestions" placeholder="Example: I am usually a size 2 but have have wide hips (38 inch) so waist bands are always too tight on me. Please help!"></textarea>
		      		<label class="error" for="size-suggestions" id="suggestions_error">Add your suggestions before submitting!</label>
		      		<br>
		      		<input type="submit" name="submit" class="btn-editorial" id="submit-suggestions" value="Save my suggestions">
	      		</form>
      		</div>
      		<br>
      		<h4 class="modal-title" id="myModalLabel">Our Size Guide</h4>
      		<table class="table table-striped" style="width:100%; height: 200px; float:left; padding:10px 10px;">
	            <thead>
	                    <th class="title">
	                    	<td>Relative Sizes</td>
	                    	<td>Waist</td>
	                    	<td>Hips</td>
	                    </th>
	            </thead>
	            <tbody>
	            	{%for size in sizes%}
	                	<tr><td style="font-style:italic;">{{size.size}}</td><td>{{size.size_description[0:3]}}</td><td>{{size.size_description[5:10]}}</td><td>{{size.size_description[12:15]}}</td></tr>
	                {%endfor%}
	            </tbody>
        	</table>
        	
      		<div class="modal-footer">
        		<button type="button" class="btn-modal" data-dismiss="modal">Close</button>
      		</div>
      	</div>
  	</div>
</div>
</div>
<!-- Main content starts here -->
<!-- Form starts here -->
<form action='/step2' method="post" id="step1-form">	
	<div class="row build">
		<div class="col-xs-6 col-md-3 col-md-offset-1 panel-group" id="accordion"role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="section"> Style 
						</a> 
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body size-panel"> 
						<ul class="list-group styles">
							{% for style in styles %}
							<li class="list-group-item"><label class="btn pretty"> <input type="radio" name="style" class="style-button" value="{{style.style_id}}" data-validate="required"> {{style.style_name}} </label> </li>
							{% endfor %}
						</ul>
						<div class="style-error"></div>
						<!-- Button to launch style guide modal window -->
						<button class="btn-modal" type="button" data-toggle="modal" data-target="#styleGuide" id="style-guide"> Style Guide </button> 
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<a class="collapsed section" role="button" data-toggle="collapse" data-parent="#accordion"
						href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Size 
						</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">
						<div class="sizes">
						<select class="size" name="size"> 
							<option class="size" value="">Select your size</option>	
							{% for size in sizes %}
							<option class="size" value="{{size.size_code}}">{{size.size}}</option>
							{% endfor %}
						</select>	
						<br>
						<div id="suggestion-div">
						</div>
						<br>
						<!-- Button to launch sizing help window -->
						<button class="btn-modal" type="button" data-toggle="modal" data-target="#sizeGuide" id="size-guide"> Custom Sizing</button>
					</div>
					<div class="size-error"></div>
					</div>
				</div>	
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingThree">
					<h4 class="panel-title">
						<a class="collapsed section" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Waist Height
						</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body" id="slider">
						<p> Select either a High or Low waist. </p><br>
						<p class="label" id="low">Low-waist</p>   <p class="label" id="high" >High-Waist</p> 
						<input class="bar" name="waist" id="waist" orient="vertical" type="range" min="1" max="2" step="1" value="{{session['current_design']['waist_id']}}">
						
					</div>
				</div>
			</div>
		</div>
	
		<!-- this is the base image -->
		<div class=" col-xs-6 col-md-5 col-md-offset-1" id="design-div">
			<object class="doll" id="design-object" data="/static/svg/{{session['current_design']['style_svg']}}?no-cache={{time()}}" alt="blank model"></object> 
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-2 col-md-offset-8">
			<div class="submit">
				<input class="btn-editorial" type="submit" href="/step2" value ="Next step please!">
				<input type="hidden" name="style-svg" id="style-svg">
			</div>
		</div>
	</div>
</form>


<!-- Javascript and JQuery!!!! -->

<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/step1.js"></script>



{% endblock %}
